@import "./assets/sass/vars/vars"

/* ****************** Only App vars ********************* */
$img_search: '/dist/assets/images/search.png'

/* *************** Common version ********************* */
.top-block
  padding: 23px 35px 10px
  .top-links
    display: inline-block
    letter-spacing: .9px
    font-family: $font-common
    font-size: $font-s
  .top-language
    display: inline-block
    padding-left: 15px
    text-transform: uppercase
    li
      padding: 0
  .top-language-link
    background-color: $color-gray
    border: 1px solid $color-text
    padding: 4px
    opacity: 0.3
    &.-active
      background-color: initial
      opacity: 1
      &:hover
        opacity: 0.7

.logo-block
  padding-left: 35px
  a
    display: inline-block
    width: 160px
  .logo-img
    height: 23px
    width: 160px
  .logo-text
    font-family: $font-light
    line-height: 33px

.nav-block
  align-self: flex-end
  flex-grow: 1
  line-height: 30px
  text-transform: uppercase
  .nav-search
    display: inline-block
    .nav-search-input
      box-sizing: border-box
      width: 100%
    .nav-search-icon
      display: inline-block
      &:before
        background: url($img_search) no-repeat 0 0
        background-size: 100% auto
        content: ""
        cursor: pointer
        display: inline-block
        vertical-align: middle
        height: 23px
        width: 22px
      &:hover
        opacity: 0.7
  ul
    display: inline-block
    li,
    a
      font-size: $font-m
      line-height: 16px

/* ************************** Mobile version ************************* */
@media only screen and (max-width: $mobile-max-width)
  .logo-block
    flex-basis: 100%
    padding-top: 21px
    order: 1

  .top-block
    flex-basis: 100%
    font-size: 0
    order: 2
    .top-links
      line-height: 30px
      width: 69%
      vertical-align: middle
    .top-language
      box-sizing: border-box
      line-height: 30px
      text-align: right
      width: 31%
      vertical-align: middle

  .nav-block
    flex-basis: 100%
    padding-left: 35px
    padding-right: 35px
    order: 3
    .nav-search
      font-size: 0
      padding-bottom: 15px
      width: 100%
      .nav-search-input
        width: 90%
        vertical-align: middle
      .nav-search-icon
        text-align: right
        width: 10%
    ul
      width: 100%
      li:nth-child(even)
        border-left: 1px solid $color-text
        padding-left: $li-padding

  main
    order: 4

/* *************************** Tablet version ************************* */
@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width)
  .logo-block
    padding-top: 21px
    order: 1

  .top-block
    flex-grow: 1
    order: 2
    text-align: right

  .nav-block
    font-size: 0
    order: 3
    text-align: right
    .nav-search
      box-sizing: border-box
      padding-left: 25px
      text-align: left
      width: 39%
      .nav-search-input
        max-width: 200px
      .nav-search-icon
        box-sizing: border-box
        padding-left: 25px
    ul
      box-sizing: border-box
      padding-right: 25px
      width: 61%
      vertical-align: middle
      li
        padding-left: $li-padding
        padding-right: 0
        &:not(:first-child)
          border-left: 1px solid $color-text
          margin-left: $li-padding

  main
    order: 4

/* ************************ Desktop version ************************ */
@media only screen and (min-width: $desktop-min-width)
  .top-block
    flex-basis: 100%
    text-align: right

  .nav-block
    padding-right: 35px
    line-height: 33px
    text-align: right
    .nav-search
      .nav-search-input
        opacity: 0
        transition: visibility 0s, opacity .5s
        width: 200px
        visibility: hidden
        &.-active
          opacity: 1
          visibility: visible
      .nav-search-icon
        margin-left: 25px
        margin-right: 20px
    li
      border-left: 2px solid $color-text
      padding-left: 28px
