<div class="container" id="app">
  <header>
    <div class="top-block">
      <ul class="top-links">
        <li v-for="link in topLinkList"><a :href="link.link">{{link.text}}</a></li>
      </ul>
      <ul class="top-language">
        <li v-for="lang in languageList">
          <a class="top-language-link" :href="lang.link" :class="{'-active': lang.active}">{{lang.text}}</a>
        </li>
      </ul>
    </div>
    <div class="logo-block">
      <a :href="logoLink">
        <img class="logo-img" :src="logo"/>
        <span class="logo-text" v-html="logoText"></span>
      </a>
    </div>
    <div class="nav-block">
      <div class="nav-search">
        <input class="nav-search-input" :class="{'-active': searchActive}" :placeholder="searchPlaceholder"
               v-model.lazy.trim="searchValue" v-on:keyup.enter="searchResultFn()"/>
        <span class="nav-search-icon" v-on:click="searchActiveFn"></span>
      </div>
      <ul>
        <li v-for="nav in topNavList"><a :href="nav.link">{{nav.text}}</a></li>
      </ul>
    </div>
  </header>
  <main>
    <HomePage></HomePage>
  </main>
  <footer></footer>
</div>