/*
 * Common Vars
 */

/* *********************** Main ************************ */

$desktop-min-width: 1200px
$desktop-max-width: $desktop-min-width - 1
$desktop-width-container: $desktop-min-width
$tablet-min-width: 600px
$tablet-width-container: $tablet-min-width
$mobile-max-width: $tablet-min-width - 1


/* ********************* Colors ************************ */
$color-text: #333
$color-white: #FFF


/* ***************************** Fonts ************************** */

@font-face
  font-family: 'LinotypeUnivers Regular'
  src: url('/dist/assets/fonts/LinotypeUnivers-BasicRegular.eot')
  src: url('/dist/assets/fonts/LinotypeUnivers-BasicRegular.eot?#iefix') format('embedded-opentype'), url('/dist/assets/fonts/LinotypeUnivers-BasicRegular.woff2') format('woff2'), url('/dist/assets/fonts/LinotypeUnivers-BasicRegular.woff') format('woff'), url('/dist/assets/fonts/LinotypeUnivers-BasicRegular.ttf') format('truetype')
@font-face
  font-family: 'LinotypeUnivers Bold'
  src: url('/dist/assets/fonts/LinotypeUnivers-BasicMedium.eot')
  src: url('/dist/assets/fonts/LinotypeUnivers-BasicMedium.eot?#iefix') format('embedded-opentype'), url('/dist/assets/fonts/LinotypeUnivers-BasicMedium.woff2') format('woff2'), url('/dist/assets/fonts/LinotypeUnivers-BasicMedium.woff') format('woff'), url('/dist/assets/fonts/LinotypeUnivers-BasicMedium.ttf') format('truetype')
@font-face
  font-family: 'LinotypeUnivers Light'
  src: url('/dist/assets/fonts/LinotypeUnivers-BasicLight.eot')
  src: url('/dist/assets/fonts/LinotypeUnivers-BasicLight.eot?#iefix') format('embedded-opentype'), url('/dist/assets/fonts/LinotypeUnivers-BasicLight.woff2') format('woff2'), url('/dist/assets/fonts/LinotypeUnivers-BasicLight.woff') format('woff'), url('/dist/assets/fonts/LinotypeUnivers-BasicLight.ttf') format('truetype')

$font-regular: 'LinotypeUnivers Regular', Verdana, Arial, sans-serif
$font-bold: 'LinotypeUnivers Bold', Verdana, Arial, sans-serif
$font-light: 'LinotypeUnivers Light', Verdana, Arial, sans-serif
$font-common: Verdana, Arial, sans-serif

$font-xxl: 26pt
$font-xl: 24pt
$font-l: 18pt
$font-m: 16pt
$font-s: 14pt
$font-xs: 12pt
$font-xxs: 10pt
