@import "./vars/vars"
@import "./vendors/vendors"

/* ********************* Common Styles ************************** */
h1, h2, h3, h4, h5, h6
  font-family: $font-medium

h1
  font-size: $font-xl

h2, h3, h4, h5, h6
  font-size: $font-s

ul, li
  font-family: $font-regular
  font-size: $font-m
  padding: 0
  margin: 0

ul
  list-style-type: none

li
  display: inline-block
  padding-right: $li-padding
  &:last-child
    padding-right: 0

button,
input,
optgroup,
select,
textarea
  font-family: $font-regular

button
  cursor: pointer
  font-size: $font-xs

input
  border: 1px solid $color-text
  font-size: $font-s
  padding: 5px 10px

div, p, a
  color: $color-text
  font-family: $font-common
  font-size: $font-s

a
  text-decoration: none
  transition: 0.3s
  &:hover
    opacity: 0.7

header
  display: flex
  flex-wrap: wrap
  margin-bottom: 10px

.container
  margin: 0 auto
  height: 100vh

.wrapper
  align-items: center
  display: flex
  flex-wrap: wrap
  justify-content: center

.text-white
  color: $color-white

.fade-enter-active, .fade-leave-active
  transition: opacity .5s
.fade-enter, .fade-leave-to
  opacity: 0

/* ************************** Mobile version ************************* */
@media only screen and (max-width: $mobile-max-width)
  .hide-mobile
    display: none

/* *************************** Tablet version ************************* */
@media only screen and (min-width: $tablet-min-width) and (max-width: $tablet-max-width)
  .hide-tablet
    display: none

/* ************************ Desktop version ************************ */
@media only screen and (min-width: $desktop-min-width)
  .hide-desktop
    display: none
